[Unit]
Description=Prometheus elasticsearch_exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
User=root
Nice=10
ExecStart = /usr/local/bin/elasticsearch_exporter 
ExecStop= /usr/bin/killall elasticsearch_exporter

[Install]
WantedBy=default.target
